<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tencent.crm.mapper.SystemDictionaryMapper">

	<!-- void save(T t); -->
	<insert id="save" parameterType="SystemDictionary"  >
		insert into t_systemdictionary(sn,name,intro,state)
		values(#{sn},#{name},#{intro},#{state})
	</insert>
	 <!-- loadById(Serializable id); -->
    <select id="loadById" resultType="SystemDictionary" parameterType="Long">
    	select * from t_systemdictionary where id=#{id}
    </select>
	<!-- void update(T t); -->
	<update id="update" parameterType="SystemDictionary">
		update t_systemdictionary set
		sn=#{sn},name=#{name},intro=#{intro},state=#{state}
		where id=#{id}
	</update>
	<!-- List<SystemDictionary> loadAll(); -->
	<select id="loadAll" resultType="SystemDictionary">
		<!-- select id, sn, name, dirPath,
		state, manager_id, parent_id from t_department
	 -->
	 	select * from t_systemdictionary
	 </select>

	<!--void remove(Serializable id); -->
	<delete id="remove" parameterType="long">
		delete from t_systemdictionary where
		id = #{id}
	</delete>
	
		 <!-- 查询有多少条 -->
	 <select id="queryPageCount" resultType="int">
	 	select count(*) from t_systemdictionary
	 </select>
	
	<!-- 查询分页数据 -->
	<select id="queryPageData"  resultType="SystemDictionary">
		select 
		id,sn,name, intro,state from t_systemdictionary o
		<include refid="whereSql"/>
	</select>
		
		<sql id="whereSql">
		<where>
			<if test="q!=null and q!=''">
				and (o.name like concat('%',#{q},'%'))
			</if>
				
		</where>
	</sql>
		
	 
	
	
	
</mapper>